<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dealim.jobconsulting.mapper.ComCoverLetterMapper">

    <!-- 자소서 질문 등록 -->
    <insert id="ComCoverLetterinsert" parameterType="Map">
        INSERT INTO company_cover_letter (ccl_com_idx, ccl_letter_question, ccl_min_length, ccl_max_length)
        values (#{cclComIdx}, #{cclLetterQuestion}, #{cclMinLength}, #{cclMaxLength})
    </insert>

    <!-- 자소서 조회 -->
    <select id="comCoverLetterInfo" resultType="ComCoverLetter" parameterType="Long">
        SELECT *
        FROM company_cover_letter
        WHERE ccl_com_idx = #{param}
    </select>

    <update id="ComCoverLetterUpdate" parameterType="Map">
        UPDATE company_cover_letter
        SET ccl_letter_question = #{cclLetterQuestion},
            ccl_min_length      = #{cclMinLength},
            ccl_max_length      = #{cclMaxLength}
        WHERE ccl_idx = #{cclIdx}
    </update>

    <delete id="ComCoverLetterDelete" parameterType="Map">
        DELETE
        FROM company_cover_letter
        WHERE ccl_idx = #{cclIdx}
          and ccl_com_idx = #{cclComIdx}
    </delete>

    <!-- 자소서 조회 -->
    <select id="userCoverLetterInfo" resultType="ComCoverLetter" parameterType="Long">
        SELECT *
        FROM company_cover_letter c
            JOIN program p on c.ccl_com_idx = p.pg_com_idx
        WHERE p.pg_idx = #{param}
    </select>

</mapper>