<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dealim.jobconsulting.mapper.CompanyMapper">
    <!-- 자소서 질문 등록 -->
    <insert id="ComcCoverLetterinsert" parameterType="Map">
        INSERT INTO ComcCoverLetterinsert(ccl_com_idx,ccl_letter_question,ccl_min_length,ccl_is_active) values()
    </insert>
</mapper>