<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dealim.jobconsulting.mapper.FileMapper">

    <insert id="upload" parameterType="File">
        INSERT INTO file
        (original_file_name,
         upload_file_name,
         folder_name,
         upload_file_url,
         related_idx,
         cate)
        VALUES( #{originalFileName},
                #{uploadFileName},
                #{folderName},
                #{uploadFileUrl},
                #{relatedIdx},
                #{cate}
              )
    </insert>


</mapper>