<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dealim.jobconsulting.mapper.FileMapper">

    <insert id="upload" parameterType="File">
        INSERT INTO file
        (original_file_name,
         upload_file_name,
         upload_file_path,
         upload_file_url,
         related_idx,
         upload_file_ext)
        VALUES( #{originalFileName},
                #{uploadFileName},
                #{uploadFilePath},
                #{uploadFileUrl},
                #{relatedIdx},
                #{uploadFileExt}
              )
    </insert>

    <delete id="deleteFile" parameterType="map">
        DELETE FROM file
        WHERE upload_file_url = #{profileImg} AND related_idx = #{idx} AND upload_file_path = #{path}
    </delete>

    <select id="getFileName" parameterType="map">
        SELECT upload_file_name FROM file
        WHERE upload_file_url = #{profileImg} AND related_idx = #{idx} AND upload_file_path = #{path}
    </select>


</mapper>