<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dealim.jobconsulting.mapper.MemCoverLetterMapper">

    <!-- 자소서 조회 -->
    <select id="coverLetterInfo" resultType="int" parameterType="Long">
        SELECT count(*)
        FROM member_cover_letter m
        LEFT JOIN company_cover_letter c
            ON m.mcl_ccl_idx = c.ccl_idx
        LEFT JOIN program p
            ON c.ccl_com_idx = p.pg_com_idx
        WHERE m.mcl_member_idx = #{idx} AND p.pg_idx = #{pgIdx}
    </select>

</mapper>