<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dealim.jobconsulting.mapper.MemCoverLetterMapper">

    <!-- 자소서 조회 -->
    <select id="coverLetterInfo" resultType="MemberCoverLetter" parameterType="Long">
        SELECT *
        FROM member_cover_letter m
                 RIGHT JOIN company_cover_letter c
                            ON m.mcl_ccl_idx = c.ccl_idx
        WHERE m.mcl_member_idx = #{idx} AND c.ccl_pg_idx = #{pgIdx}
    </select>

    <select id="memCoverLetterInfo" resultType="MemberCoverLetter" parameterType="Long">
        SELECT *
        FROM member_cover_letter
        WHERE mcl_ccl_idx = #{cclIdx}
    </select>

    <insert id="userCoverLetterSave" parameterType="Map">
        INSERT INTO member_cover_letter (mcl_ccl_idx,mcl_member_idx,mcl_answer,mcl_is_confirm,mcl_title)
        value (#{mclCclIdx},#{mclMemberIdx},#{mclAnswer},#{mclIsConfirm},#{mclTitle})
    </insert>

    <update id="userCoverLetterUpdate" parameterType="map">
        UPDATE member_cover_letter
        SET
            mcl_ccl_idx = #{mclCclIdx},
            mcl_member_idx = #{mclMemberIdx},
            mcl_answer = #{mclAnswer},
            mcl_is_confirm = #{mclIsConfirm},
            mcl_title = #{mclTitle}
        WHERE mcl_idx = #{mclIdx}
    </update>
</mapper>