<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dealim.jobconsulting.mapper.ProgramMapper">

    <!-- program 조회 -->
    <select id="selectPgsByComIdx" parameterType="Long" resultType="Program">
        SELECT *
        FROM program
        WHERE pg_com_idx = #{param}
    </select>

    <insert id="insertProgram" parameterType="Program">
        INSERT INTO program (pg_com_idx,
                             pg_prog_start_date,
                             pg_prog_end_date,
                             pg_edu_start_date,
                             pg_edu_end_date,
                             pg_reg_val_start_date,
                             pg_reg_val_end_date,
                             pg_interview_val_start_date,
                             pg_interview_val_end_date,
                             pg_interview_val_start_time,
                             pg_interview_val_end_time,
                             pg_title,
                             pg_content)
        VALUES (#{pgComIdx},
                #{pgProgStartDate},
                #{pgProgEndDate},
                #{pgEduStartDate},
                #{pgEduEndDate},
                #{pgRegValStartDate},
                #{pgRegValEndDate},
                #{pgInterviewValStartDate},
                #{pgInterviewValEndDate},
                #{pgInterviewValStartTime},
                #{pgInterviewValEndTime},
                #{pgTitle},
                #{pgContent})
    </insert>

    <delete id="deleteByPgIdx" parameterType="Long">
        DELETE
        FROM program
        WHERE pg_idx = #{param}
    </delete>

    <select id="selectByPgIdx" parameterType="Long" resultType="Program">
        SELECT *
        FROM program
        WHERE pg_idx = #{param}
    </select>

    <update id="updateProgram" parameterType="Program">
        UPDATE program
        <set>
            <trim suffixOverrides=",">
                <if test="pgTitle != null">
                    pg_title = #{pgTitle},
                </if>
                <if test="pgContent != null">
                    pg_content = #{pgContent},
                </if>
                <if test="pgProgStartDate != null">
                    pg_prog_start_date = #{pgProgStartDate},
                </if>
                <if test="pgProgEndDate != null">
                    pg_prog_end_date = #{pgProgEndDate},
                </if>
                <if test="pgEduStartDate != null">
                    pg_edu_start_date = #{pgEduStartDate},
                </if>
                <if test="pgEduEndDate != null">
                    pg_edu_end_date = #{pgEduEndDate},
                </if>
                <if test="pgRegValStartDate != null">
                    pg_reg_val_start_date = #{pgRegValStartDate},
                </if>
                <if test="pgRegValEndDate != null">
                    pg_reg_val_end_date = #{pgRegValEndDate},
                </if>
                <if test="pgInterviewValStartDate != null">
                    pg_interview_val_start_date = #{pgInterviewValStartDate},
                </if>
                <if test="pgInterviewValEndDate != null">
                    pg_interview_val_end_date = #{pgInterviewValEndDate},
                </if>
                <if test="pgInterviewValStartTime != null">
                    pg_interview_val_start_time = #{pgInterviewValStartTime},
                </if>
                <if test="pgInterviewValEndTime != null">
                    pg_interview_val_end_time = #{pgInterviewValEndTime},
                </if>
                <if test="pgIsWithdrawn != null">
                    pg_is_withdrawn = #{pgIsWithdrawn},
                </if>
                <if test="pgModifiedDate != null">
                    pg_modified_date = #{pgModifiedDate},
                </if>
            </trim>
        </set>
        WHERE pg_idx = #{pgIdx}
    </update>

    <select id="selectAllPrograms" resultType="Program">
        SELECT * FROM program
        WHERE DATE(pg_prog_start_date) &lt;= DATE(NOW())
          AND DATE(pg_prog_end_date) &gt;= DATE(NOW());
    </select>

    <select id="getApprovedCntByPgIdx" resultType="Integer" parameterType="Long">
        SELECT COUNT(*)
        FROM member m
        WHERE m.pg_reg_status = 'Aprroved'
    </select>


</mapper>