<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dealim.jobconsulting.mapper.ProgramMapper">

    <select id="selectPgsByComIdx" parameterType="Long" resultType="Program">
        SELECT *
        FROM program
        WHERE pg_com_idx = #{param}
          AND pg_is_withdrawn = 'N'
    </select>

    <insert id="insertProgram" parameterType="Program">
        INSERT INTO program (pg_com_idx,
                             pg_prog_start_date,
                             pg_prog_end_date,
                             pg_edu_start_date,
                             pg_edu_end_date,
                             pg_reg_val_start_date,
                             pg_reg_val_end_date,
                             pg_interview_val_start_date,
                             pg_interview_val_end_date,
                             pg_interview_val_start_time,
                             pg_interview_val_end_time,
                             pg_title,
                             pg_content)
        VALUES (#{pgComIdx},
                #{pgProgStartDate},
                #{pgProgEndDate},
                #{pgEduStartDate},
                #{pgEduEndDate},
                #{pgRegValStartDate},
                #{pgRegValEndDate},
                #{pgInterviewValStartDate},
                #{pgInterviewValEndDate},
                #{pgInterviewValStartTime},
                #{pgInterviewValEndTime},
                #{pgTitle},
                #{pgContent})
    </insert>

    <update id="updateIsWithdrawn" parameterType="Long">
        UPDATE program
        SET pg_is_withdrawn = 'Y', pg_withdrawn_date = now()
        WHERE pg_idx = #{param}
    </update>

    <select id="selectByPgIdx" parameterType="Long" resultType="Program">
        SELECT *
        FROM program
        WHERE pg_idx = #{param}
          and pg_is_withdrawn = 'N'
    </select>

    <update id="updateProgram" parameterType="Program">
        UPDATE program
        <set>
            <trim suffixOverrides=",">
                <if test="pgTitle != null">
                    pg_title = #{pgTitle},
                </if>
                <if test="pgContent != null">
                    pg_content = #{pgContent},
                </if>
                <if test="pgContentSummary != null">
                    pg_content_summary = #{pgContentSummary},
                </if>
                <if test="pgProgStartDate != null">
                    pg_prog_start_date = #{pgProgStartDate},
                </if>
                <if test="pgProgEndDate != null">
                    pg_prog_end_date = #{pgProgEndDate},
                </if>
                <if test="pgEduStartDate != null">
                    pg_edu_start_date = #{pgEduStartDate},
                </if>
                <if test="pgEduEndDate != null">
                    pg_edu_end_date = #{pgEduEndDate},
                </if>
                <if test="pgRegValStartDate != null">
                    pg_reg_val_start_date = #{pgRegValStartDate},
                </if>
                <if test="pgRegValEndDate != null">
                    pg_reg_val_end_date = #{pgRegValEndDate},
                </if>
                <if test="pgInterviewValStartDate != null">
                    pg_interview_val_start_date = #{pgInterviewValStartDate},
                </if>
                <if test="pgInterviewValEndDate != null">
                    pg_interview_val_end_date = #{pgInterviewValEndDate},
                </if>
                <if test="pgInterviewValStartTime != null">
                    pg_interview_val_start_time = #{pgInterviewValStartTime},
                </if>
                <if test="pgInterviewValEndTime != null">
                    pg_interview_val_end_time = #{pgInterviewValEndTime},
                </if>
                <if test="pgIsWithdrawn != null">
                    pg_is_withdrawn = #{pgIsWithdrawn},
                </if>
                <if test="pgModifiedDate != null">
                    pg_modified_date = #{pgModifiedDate},
                </if>
            </trim>
        </set>
        WHERE pg_idx = #{pgIdx}
    </update>

    <select id="selectAllPrograms" resultType="Program">
        SELECT *
        FROM program
        WHERE pg_is_withdrawn = 'N'
    </select>

    <select id="selectAllValidPrograms" resultType="Program">
        SELECT *
        FROM program
        WHERE DATE (pg_prog_start_date) &lt;= DATE (NOW())
          AND DATE (pg_prog_end_date) &gt;= DATE (NOW())
          AND pg_is_withdrawn = 'N'
    </select>

    <!-- resultMap 정의 -->
    <resultMap id="pgInfoResultMap" type="site.dealim.jobconsulting.dto.ProgramCompanyDto">
        <!-- Program 객체에 대한 매핑 -->
        <association property="program" javaType="site.dealim.jobconsulting.domain.Program">
            <!-- Program 클래스의 모든 필드에 대한 매핑 -->
            <result property="pgIdx" column="pg_idx"/>
            <result property="pgComIdx" column="pg_com_idx"/>
            <result property="pgTitle" column="pg_title"/>
            <result property="pgContent" column="pg_content"/>
            <result property="pgContentSummary" column="pg_content_summary"/>
            <result property="pgProgStartDate" column="pg_prog_start_date"/>
            <result property="pgProgEndDate" column="pg_prog_end_date"/>
            <result property="pgEduStartDate" column="pg_edu_start_date"/>
            <result property="pgEduEndDate" column="pg_edu_end_date"/>
            <result property="pgRegValStartDate" column="pg_reg_val_start_date"/>
            <result property="pgRegValEndDate" column="pg_reg_val_end_date"/>
            <result property="pgInterviewValStartDate" column="pg_interview_val_start_date"/>
            <result property="pgInterviewValEndDate" column="pg_interview_val_end_date"/>
            <result property="pgInterviewValStartTime" column="pg_interview_val_start_time"/>
            <result property="pgInterviewValEndTime" column="pg_interview_val_end_time"/>
            <result property="pgCreatedDate" column="pg_created_date"/>
            <result property="pgModifiedDate" column="pg_modified_date"/>
            <result property="pgIsWithdrawn" column="pg_is_withdrawn"/>
            <!-- 나머지 Program 클래스의 모든 필드에 대한 매핑 -->
        </association>
        <!-- Company 객체에 대한 매핑 -->
        <association property="company" javaType="site.dealim.jobconsulting.domain.Company">
            <result property="comIdx" column="com_idx"/>
            <result property="comName" column="com_name"/>
            <result property="comAddress" column="com_address"/>
            <result property="comLogo" column="com_logo"/>
            <!-- 필요한 필드들만 매핑 -->
        </association>
    </resultMap>

    <!-- SQL 쿼리에서 resultMap 참조 -->
    <select id="pgInfo" parameterType="Long" resultMap="pgInfoResultMap">
        SELECT p.*, c.*
        FROM program p
                 LEFT JOIN company c ON p.pg_com_idx = c.com_idx
        WHERE p.pg_idx = #{pgIdx}
    </select>

    <!-- 프로그램 상태 업데이트 -->
    <update id="updatePgStatus" parameterType="Map">
        UPDATE program
        SET pg_status = #{pgStatus}
        WHERE pg_idx = #{pgIdx}
    </update>

</mapper>