<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dealim.jobconsulting.mapper.UserMapper">
    <!-- 자소서 조회 -->
    <select id="userCoverLetterInfo" resultType="ComCoverLetter">
        SELECT * FROM company_cover_letter
    </select>

    <update id="updatePgIdx" parameterType="map">
        UPDATE member
        SET pg_idx = #{pgIdx}
        WHERE idx = #{memIdx}
    </update>

</mapper>