@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
body {
    font-family: Pretendard, 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

/*.input-group-alternative {
    .form-control {
      &:hover {
        background : var(--background)
      }
      &:focus {
        background : var(--background)
      }
    }
}*/
.auth_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  background: #1e1e2f
}
.white-content {
  h1 {
    color: #000;
  }
  .navbar {
    background: #f5f6fa;
  }
  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus ,
  .navbar-dark .navbar-nav .nav-link{
    color: #000;
  }
}
.form-register .form-group {
  margin-bottom: 20px;
}
form.form-register label + .form-control {
  margin-bottom: 0;
}
@mixin ellipsis($lines: 1) {
  @if ($lines==1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    line-height: $lines * 1.2em;
    height: $lines * 1.2em;
  }
}
.text { @include ellipsis; }
.long-text { @include ellipsis(3); }
