<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <aside>
    <div class="inner-wrap">
      <h1><a href="#"><img src="./img/logo.svg" alt="logo"></a></h1>
      <nav class="lnb">
        <ul>
          <li>
            <a href="#">
              <i><img src="./img/icon1.svg" alt="icon1"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i><img src="./img/icon2.svg" alt="icon2"></i>
              <span>Exams</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i><img src="./img/icon3.svg" alt="icon3"></i>
              <span>Register</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i><img src="./img/icon4.svg" alt="icon4"></i>
              <span>Reports</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i><img src="./img/icon5.svg" alt="icon5"></i>
              <span>Payment</span>
            </a>
          </li>
        </ul>
      </nav>
      <nav class="gnb">
        <ul>
          <li>
            <a href="#">
              <i><img src="./img/icon6.svg" alt="icon6"></i>
              <span>Settings</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i><img src="./img/icon7.svg" alt="icon7"></i>
              <span>Sign out</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
</body>

</html>