<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <form>
    <h1>Lets Sign you in</h1>
    <p>Welcome Back , <br>You have been missed</p>
    <div class="sign-in">
      <div class="sign-box">
        <label for="userId">ID</label>
        <input type="text" name="userId" id="userId" placeholder="Email ,phone & username">
        <label for="userPwd">Password</label>
        <input type="text" name="userPwd" id="userPwd" placeholder="Password">
        <a href="#">Forgot Password ?</a>
        <button>Sign in</button>
      </div>
    </div>
    <div class="line">
      <p>or</p>
    </div>
    <div class="social-login">
      <a href="#"><i><img src="./img/google.svg" alt="google login"></i></a>
      <a href="#"><i><img src="./img/facebook.svg" alt="facebook login"></i></a>
      <a href="#"><i><img src="./img/apple.svg" alt="apple login"></i></a>
    </div>
    <a class="register" href="#">
      <p>Don’t have an account? <span>Register Now</span></p>
    </a>
  </form>
</body>

</html>