* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --bgColor: #4a3aff;
}

ul,
ol,
li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

fieldset {
    border: none;
}

table {
    border-collapse: collapse;
}

input,
label {
    vertical-align: middle;
}
