@import 'reset.css';

aside {
    width: 280px;
    height: 100vh;
    background-color: var(--bgColor);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

h1 {
    margin-left: 84px;
}

aside .inner-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 64px 0 70px 0;
    height: 100%;
}

aside ul li {
    position: relative;
}

aside ul li::before {
    display: block;
    position: absolute;
    left: 0;
    width: 5px;
    min-height: 64px;
    content: '';
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #fff;
    display: none;
}

aside ul li:hover::before,
aside ul li:focus::before {
    display: block;
}

aside ul li a {
    display: flex;
    align-items: center;
    padding: 16px 0 16px 84px;
    color: #fff;
}

aside ul li a span {
    padding-left: 16px;
}

.common-content {
    display: block;
}