<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
<h1>회원가입</h1>
<form th:action="@{/register}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <!-- 추가 정보 입력 필드를 여기에 삽입할 수 있습니다 -->
    <div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
</body>
</html>
